<div style="border: 2px solid red;" class="major-articles d-flex justify-content-between">
    <div class="user-article">
        {{> blog_details}}
    </div>
    <div class="article-categories">
        <div class="heading" style="font-weight: 600;">Discover more of what matters to you</div>
        <div class="buttons-group">
            <button class="course-select border-0 my-2">Programming</button>
            <button class="course-select border-0 my-2">Programming</button>
            <button class="course-select border-0 my-2">Programming</button>
            <button class="course-select border-0 my-2">Programming</button>
            <button class="course-select border-0 my-2">Programming</button>
            <button class="course-select border-0 my-2">Programming</button>
            <button class="course-select border-0 my-2">Programming</button>
            <button class="course-select border-0 my-2">Programming</button>
            <button class="course-select border-0 my-2">Programming</button>

            <hr>
        </div>
    </div>
</div>