<div class="main-article-1-container">
    <div class="main-article-1-content">
        <div class="article-header">

            <div class="article-logo article-logo-5"></div>
            <div class="article-heading">Happy JS </div>

        </div>

        <div class="main-article-1-heading">
            Happy 28th JAVA SCRIPT, How is it going
        </div>
        <div class="main-article-1-brief">
            From CB student to SDE
        </div>
        <div class="main-article-1-date-info">
            Mar 6, 2024 · 13 min read
        </div>
    </div>
    <div class="main-article-1-logo"></div>

</div>