<div class="header">
    <div class="header-heading">Stay curious.</div>
    <div class="header-description">Discover stories, thinking, and expertise from writers on any topic.</div>
    <button class="header-button bg-dark text-white border-0 p-1">Start reading</button>
</div>