<nav class="navbar position-fixed start-0 top-0 d-flex justify-content-around w-100 bg-warning p-4 border border-dark">
    <div class="nav-logo w-30">

    </div>

    <div class="nav-links d-flex justify-content-around align-items-center">
        <a class="nav-item" href="#">Our story</a>
        <a class="nav-item" href="#">Membership</a>
        <a class="nav-item" href="#">Write</a>
        <a class="nav-item" href="#">Sign in</a>
        <button class="get-started bg-dark text-white border-0 p-1">Get started</button>
    </div>
</nav>