.profile-image{
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-size: contain;
}

.restaurant-details{
  width: 100%;
  display: flex;
}

.restaurant-names{
  width: 20%;

  display: inline-block;
  /* justify-content: space-around; */
}

.restaurant-cusines{
  width: 70%;
  display: inline-block;
}
.restaurant-names button{
  margin: 5px 0;
  display: block;
}

.cusines-categories{
  display: flex;
  justify-content: space-around;
}