.profile-image{
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-size: contain;
}

.restaurant-details{
  width: 100%;
  display: flex;
}

.restaurant-names{
  width: 20%;
}
.restaurant-names button{
  width: 100%;
  margin: 5px 0;
}
.restaurant-menu{
  width: 70%;
}

.restaurant-cusines{
  display: flex;
  justify-content: space-around;
}